<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer th:fragment="footer" class="py-5">
        <div class="container">
            <div class="row g-4 mb-4">
                <div class="col-md-3">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="#">Our Mission</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="#">Find a Mentor</a></li>
                        <li><a href="#">Browse Courses</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Follow Us</h5>
                    <div class="social-links">
                        <a href="#">f</a>
                        <a href="#">𝕏</a>
                        <a href="#">in</a>
                        <a href="#">ig</a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom pt-4">
                <p>&copy; 2025 MentorMatrix. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>
