<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header th:fragment="header" class="py-3">
        <div class="container">
            <h1>MentorMatrix</h1>
            <button class="navbar-toggle" id="navbarToggle" type="button">
                <i class="fas fa-bars"></i>
            </button>
            <nav id="navbar">
                <a href="/" class="active">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </header>
</body>
</html>
